name: Build client

on:
  push:
    branches:
      - main
      - adeel/build
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build the game client
        run: |
          cd supa-fighta-client
          pyinstaller --onefile src/main.py --no-console
          cp assets/* dist/

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3